.head h1 {
    text-align: center;
}
.head p {
    font-size: 16px;
    float: right;
    margin-right: 30px;
    margin-top: -30px;
}

.owen-danger {
    /*font-size: 30px;*/
    color: red;
}

.table-data{
   width: 80%;
   margin:0 auto;
   font-size: 16px;
   font-weight:bold;
}
.caxun{
    font-size: 16px;
    float: right;
}
.form-inline{
    border: 1px solid #f7f7f7;
    padding: 15px 0;
    margin-bottom: 20px;
}
.form-inline >div{
    margin-right: 25px;
    margin-left: 10px;
}
.form-inline>div>label{
    margin-right: 6px;
}




